*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#nav_container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 300;
    width: 100%; 
    padding: 15px 0; 
    background-color: rgba(8, 34, 75, 1);
}

#nav{
    width: 96%;
    margin-left: 2%;   
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    
}   

#logo div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

#logo h2{
    color: rgba(100, 118, 145, 1);
}


#link_container{
    display: none;
}

#toggle h2{
    line-height: 50px;
    font-size: 16px;
    color: rgba(100, 118, 145, 1);
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    transition: .2s ease;
}

/* for side bar :::::::::::: */

#sidebar{
    position: fixed;
    top: 90px;
    /* left: 0; */ 
    right: 10px;
    /* overflow: hidden; */
    /* background-color: rgba(246, 227, 219, 1); */
    /* background-color: rgba(11, 49, 103, 1); */
    background-color: rgba(8, 34, 75, 1);
    /* height: calc(100vh); */
    transition: .2s ease;
    /* height: 100vh; */
    z-index: 2000;
    border-radius: 10px;
    padding: 20px;
}

#sidebar_container{
    /* padding: 10px 40px; */
    /* background-color: #fff; */
    /* border-top: 2px solid rgba(255, 255, 255, 1); */
    overflow: hidden;
    /* text-align: center; */
    z-index: 1000;
}

#sidebar div ul li{
    margin-bottom: 10px;
    transition: .2s ease;
    cursor: pointer;
}


#sidebar div ul li .side_link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    transform: translate(0, -3px);
}

/* #sidebar div ul li .start{
    border: 1px solid #303030;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px;
} */

#sidebar div ul li:hover{
    transform: translate(0, -3px);
}


/* toggle heigt with react */

.show_hight{
    /* height: 0; */
    /* display: none;    */
}

/*  setting media query  */

@media only screen and (min-width: 750px) {
    #nav_container{
        padding: 10px 0; 
    }

    #toggle{
        display: none;
    }

    #link_container{
        display: flex;
    }

    #link_container ul {
        display: flex;
    }

    #link_container ul li{
        line-height: 50px;
        margin-left: 2.5rem;
        transition: .2s ease;
        cursor: pointer;
    }

    #link_container ul li:hover{
        transform: translate(0, -3px);
    }

    #link_container ul li .link{
        color: rgba(255, 255, 255, 0.8);
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 100;
    }

    #link_container ul li .start{
        /* border: 2px solid #303030; */
        padding: 10px 20px;
        border-radius: 10px;
       background-color:  rgba(94, 42, 231, 1);
    }

    /* #sidebar{
        display: none;
    } */
    
}